{% extends 'base.html' %}

{% block title %}
Страница тортика
{% endblock %}

{% block body %}
<body>
    <div align="center">
        <h1 style="text-align: center" class="p-2 text-white">Какой тортик вы хотите?</h1><Br>
        <p>
            <a class = "p-4 btn btn-outline-danger" href="/pic1">Whole</a>
            <a class = "p-4 btn btn-outline-danger" href="/pic2">A piece of cake</a>
            <a class = "p-4 btn btn-outline-danger" href="/">I changed my mind</a>
        </p>
    </div>
</body>
{% endblock %}